node_modules
.env
.nodemon.json

/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage
/coverage
/logs
/tmp

# production
/frontend/build
/frontend/dist
/dist

# misc
/backend/data
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
.error.log
notes.md
